/* common css start */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
   list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: .8;
}
.container{
    width: 1440px;
   
    margin: 0 auto;
}
/* common css end */
#headerPart{
    padding: 10px;
    background: #222831;
 border-bottom: 1px solid #393E46;
}
.menuBar{
    display: flex;
    align-items: center;
   
 
}
.menu ul{
    display: flex;
}
.menuBar .logo{
    width: 70%;
}
.menuBar .menu{
width: 30%;
}
.menuBar .menu ul li a{
    padding: 0 24px;
    font-weight: 400;
    font-size: 18px;
    color: #EEEEEE;
}
/* banner part start */
#bannerPart{
  
    background: #222831;

    padding-top: 205px;
    padding-bottom: 400px;
     border-bottom: 1px solid #393E46;
}
.bannerContent .bannerTxt{
 width: 601px; 
 
}
.bannerContent{
    display: flex;
    margin-left: 200px;
}
.bannerContent .bannerTxt h1{
    line-height: 96px; 
 font-weight: 700;
 font-size: 96px;
 color: #FFFFFF;
}
.bannerContent .bannerTxt span{
    font-weight: 700;
 font-size: 96px;
 color: #00ADB5;
}
.button a{
padding: 10px 32px;
    font-weight: 700;
    font-size: 20px;
    color: #EEEEEE;
    background: #00ADB5;
    border: none;
    border-radius: 23px;
    text-align: center;
    transition: .4s;
}
.button{
    margin-top: 48px;
}
.button a:hover{
color: #EEEEEE;
background: #393E46;
}
.photoContent{
    position: relative;

}
.photoContent .imgOne{
    position: absolute;
}
.photoContent .imgTwo{
position: absolute;
top: 60%;
}
.bannerTxt{
    position: relative;
}
.image{
    position: absolute;
    left: -100px;
   top: 50%;
   transform: translateY(-50px);
  
}

/* banner part end */
/* about part start */
#aboutPart{
    background: #222831;

    padding-top: 205px;
    padding-bottom: 400px;
     border-bottom: 1px solid #393E46;
}
.aboutContent{
    display: flex;
    gap: 250px;
}
.aboutContent .aboutTxt h2 span{
    color: #00ADB5;
}
.aboutContent .aboutTxt p span{
    font-weight: 700;
    font-size: 18px;
    color: #EEEEEE;
}
.aboutContent .aboutTxt{
    width: 382px;
}
.aboutContent .aboutTxt h2{
    font-weight: 700;
    font-size: 64px;
    color: #EEEEEE;
    padding: 10px;
}
.aboutContent .aboutTxt p{
    font-weight: 400;
    font-size: 17px;
    color: #eeeeee75;
    line-height: 20px;
}
.aboutImg{
    position: relative;
}
.aboutImg .imgOne{
    position: absolute;
}
.aboutImg .imgTwo{
position: absolute;
top: 110%;
left: 120px;
}
.aboutTxt{
    position: relative;
}
.aboutTxt .song{
    position: absolute;
    top: -70px;
    left: 0;
}
.aboutTxt .lightBulbe{
    position: absolute;
    right: -20px;
    top: -20px;

}
.aboutTxt .aboutVector{
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(100%);
}

/* about part end */
  /* recent work part start */
#recentPart{
    padding-top: 205px;
    padding-bottom: 400px;
   background: url(../images/Projects\ Page\ .png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
    border-bottom: 1px solid #393E46;
}
.recentConcent .recentText{
    font-weight:  700;
    font-size: 64px;
    color: #FFFFFF;
}
.recentConcent .recentText span{
    color: #00ADB5;
}
.recentConcent .recentBox{
    display: flex;
   
}
.recentConcent .recentBox .box{
    padding: 61px 52px;
   background: rgba(35, 45, 60, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 16px;
    box-shadow:
        0 4px 20px rgba(0, 0, 0, 0.25),
        inset 0 1px 1px rgba(255, 255, 255, 0.05);
        width: 434px;
        margin-left: 24px;
        margin-top: 24px;
}

  /* recent work part end */
/* project part start */

#projectPart{
    background: #222831;
    padding-top: 205px;
    padding-bottom: 400px;
     border-bottom: 1px solid #393E46;
}
    .projectContent .projectTxt span{
        color: #00ADB5;
    }
     .projectContent .projectTxt h2{
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        color: #FFFFFF;
     }
     .projectContent .projectTxt{
        width: 679px;
     }
     .projectContent{
        display: flex;
     }
     .projectContent .projectImg{
        position: relative;
        display: flex;
     }
     .projectContent .projectImg .imgOne{
        position: absolute;
        right: 183px;
        top: 320px;
     }
     .projectContent .projectImg .imgTwo{
        position: absolute;
        right: 263px;
        top: 168px;
     }
     .projectContent .projectImg .projectDesign{
        position: absolute;
        right: 470px;
        top: 269px;
     }
     .projectContent .projectForm .common{
        width: 400px;
        background: #393E46;
        border-radius: 16px;
        margin-bottom: 10px;
        padding: 16px;

        
     }
     .projectContent .projectForm .formfrist{
        display: flex;
        gap: 28px;
        align-items: center;
          
     }
      .projectContent .projectForm h2{
        font-weight: 700;
        font-size: 18px;
        color: #FFFFFF;
      }
.projectContent .projectForm .button i{
    margin-left: 5px;
}
.projectForm{
    position: relative;
}
.projectForm .keyboard{
    position: absolute;
    top:-173px;
    right: 615px;
}
.projectForm .emailImg{
    position: absolute;
    right: 0;
    bottom: -180px;
}
/* project part end */
    #footerPart{
background: #222831;
padding: 10px;


}
.footerContent .footerText{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerContent .footerText a{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    padding: 10px;
    
}
.footerContent .footerText a i{
    margin-right: 10px;
}
.footerContent .icon{
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
.footerContent .icon .facebook{
background: #393E46;
margin-left: 10px;
border-radius: 50%;
padding: 10px;
   
}
.footerContent .icon .instra{
background: #393E46;
margin-left: 10px;
border-radius: 50%;
padding: 10px;
   
}
.footerContent .icon .twitter{
background: #393E46;
margin-left: 10px;
border-radius: 50%;
padding: 10px;
   
}
.footerContent .icon .youtube{
background: #393E46;
margin-left: 10px;
padding: 10px;
border-radius: 50%;
   
}
.footerContent .footerBottom p{
    
    color: #EEEEEE;
    font-size: 18px;
    font-weight: 400;
    text-align: end;
    padding: 50px 95px;
}

